.board {
    height: auto;
    background-image: linear-gradient(to top, rgb(170, 212, 236), rgba(230, 238, 243, 0.37));
    padding: 3rem;
    position: relative;

    .titles {
        margin: 0 auto;
        margin-bottom: 2rem !important;
        width: 80%;
        text-align: center;
        color: rgb(32, 92, 128);
        & > * {
            font-weight: 200;
            margin: 0;
        }
        .title {
            font-size: 2.5rem;
        }
        .subtitle {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    .icons {
        z-index: -1;
        color: rgba(95, 134, 158, 0.151);
        i {
            svg {
                height: 30vmin;
                width: 30vmin;
            }
        }
        .edit {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
        .note {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
    }
}

@media (max-width: 600px) {
    .board {
        padding: 1rem 0;
        margin: 0 auto;

        .notes {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start !important;
            overflow: hidden !important;
            margin: 0 auto !important;
        }
    }
}

.notes {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #9dbfcf;
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(37, 107, 148);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(55, 104, 138);
    }
    max-width: 100vw !important;
    padding: 2rem;
}
