.story {
    max-width: 100vw !important;
    background-color: rgb(240, 238, 238);
    border-left: 7vw #0d435ecb solid;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition:  all 2s;
    padding: 15vmin 1rem;


    & > * {
       @media(min-width:1200px){ width: 50vw;}
    }

    .story_opacity {
        padding: calc(2rem + 3vmin) 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(20vmin);
        opacity: 0;
    }
    
    .leftSide {
        display: flex;
        justify-content: center;
        &__image {
            height: 80%;
            width: 80%;
            margin: 0 auto;
            opacity: 1;
            transition: all .5s;
        }
        
        &__image_opacity {
            transform: translateY(20vmin);
            opacity: 0;
            height: 80%;
            width: 80%;
            margin: 0 auto;
        }
    }

    &__right {
        transform: translateX(0);
        transition: all 1s;
        padding: calc(2rem + 3vmin) 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        &__title {
            font-size: 2rem;
            color: #0d435ecb;
            font-weight: 700;
            margin-top: -1rem;
            letter-spacing: 2px;
        }

        &__text {
            margin-top: -0.3rem;
            font-size: calc(1rem + 1vmin);
            font-style: italic;
            font-weight: 100;
            color: #5e503f;
            line-height: 1.6rem;
            margin-bottom: calc(2rem + 3vmin);
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: calc(0.5rem + 0.5vmin) calc(1rem + 2vmin);
            margin: 1vmin;
            border: #0d435ecb solid 1px;
            cursor: pointer;
            font-size: calc(0.5rem + 1.5vmin);
            font-weight: 100;
            text-align: center;
            transition: all 0.5s;
            border-radius: 1px;
            outline: none;
            color: white;
            background-color: #0d435ecb;

            &:active {
                transform: translateY(-5px);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);
                background-color: lighten($color: #0d435ecb, $amount: 5%);
            }

            &:hover {
                background-color: lighten($color: #0d435ecb, $amount: 5%);
                border: #0d435ecb 1px solid;
            }
        }
    }
    @media (max-width: 1000px) {
        border: none;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 5vmin;

        &__right {
            &__title {
                font-size: calc(0.5rem + 2vmin) !important;
            }

            &__main-title {
                font-size: 2.5rem !important;
            }

            &__text {
                font-size: 1rem !important;
            }
        }

        .leftSide {
            &__image {
                height: 70%;
                width: 70%;
                margin: 0 auto;
            }
        }
    }

    @media (max-width: 1100px) {
        &__right {
            &__main-title {
                font-size: calc(1.5rem + 1vmin) !important;
            }

            &__text {
                font-size: calc(0.5rem + 1vmin) !important;
            }
        }
    }
}
